*
{
    margin: 0;
    padding: 0;
}

/* Navigation */
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img
/* Image size and Location */
{
    height: 60px;
    padding-left: 30px;
}

.navbar-nav li
/* Size of Navbar and spacing of text */
{
    padding: 0 10px;
}

.navbar-nav li a
{
    float: right;
    text-align: left;
}

#nav-bar ul li a:hover
{
    color: lightblue!important;
}

.navbar
{
    background: darkblue;
}

.navbar-toggler
{
    border: none!important;
}

.nav-link
{
    color: darkblue!important;
    font-weight: 600;
    font-size: 25px;
}



#slider
{
    width: 100%;
}


/* To fit images in the carousel */
.carousel-item
{
    position: relative;
    overflow: hidden;
    width: inherit;
    height: 740px;
}


.carousel-caption
{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;
}

.carousel-caption h3
{
    font-size: 80px;
    color: lightblue;
}


/* About the Project */
#about
{
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    background: lightblue;
}

#about h1
{
    text-align: center;
    color: black;
}


.about-content
{
    text-align: center;
    padding-top: 10px;
    color: black;
    font-weight: 600;
    font-size: 16px;
}


/* Information Display */
#information
{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(76, 102, 219, 0.8)), url(Images/Medicine_Logo.jpg);
    background-size: cover;
    background-position: center;
    color: rgb(197, 197, 197)!important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 550px;
}

#information h2
{
    text-align: center;
    font-size: 45px;
    
}

#contact
{
    background: lightblue;
    padding-top: 10px;
    padding-bottom: 40px;
    color: black;
}

#contact h4
{
    text-align: center;
    font-size: 40px;
}

.contact-form
{
    padding: 15px;
}

.form-control
{
    border-radius: 0 !important;
    border: none !important;
}

.follow
{
    background: lightblue ;
    padding: 7px;
    margin: 15px;
}


.contact-info .fa
{
    margin: 5px;
    color: blue;
    font-weight: bold;
}